@import "tailwindcss";

/* DESIGN SYSTEM (UPDATED - SESUAI TEMAN) */
:root {
  --color-primary: #22D3EE;      /* cyan-400 */
  --color-secondary: #101935;    /* card utama */
  --color-tertiary: #081028;     /* inner card */
  --color-background: #020617;   /* background utama */
}

/* BASE STYLE */
@layer base {
  * {
    @apply border-white/10;
  }

  html {
    @apply font-sans;
  }

  body {
    color: white;
    background-color: var(--color-background);
  }
}